.signin-wrapper {
  width: 400px;

  mat-form-field {
    width: 100%;
    margin: 0rem 1rem;
  }

  .signin-wrapper__menu {
    display: flex;
    justify-content: center;

    button {
      margin: 0rem 1rem;
    }
  }

}