<mat-toolbar color="primary">
    <nav>
        <div class="nav--left">
            <button mat-button [matMenuTriggerFor]="ticketMenu">
                Tickets
            </button>
            <mat-menu #ticketMenu="matMenu">
                <button (click)="onNewTicket()" mat-menu-item>New ticket</button>
                <button (click)="onManageTickets()" mat-menu-item>Manage tickets</button>
            </mat-menu>
        </div>
        <div class="nav--right">
            <button mat-button [matMenuTriggerFor]="authMenu">
                Login
            </button>
            <mat-menu color="primary" #authMenu="matMenu">
                <button (click)="onLogin()" mat-menu-item>Login</button>
                <button (click)="onSignIn()" mat-menu-item>Sign-in</button>
            </mat-menu>
        </div>
    </nav>
</mat-toolbar>
